@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 6rem;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(10, 10, 10, 0.4);
  color: rgb(229, 233, 233);
  overflow: hidden; /* Prevent content from overflowing */
  align-items: center;
  
}

/* .App .search {
  align-items: center;
  padding: 1rem;
  
} */


.App input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px white;
  background:rgba(128, 124, 124, 0.493);
  color: #f7f2f2; /* Add text color for better visibility */
}

.App input::placeholder {
  text-align: center;
  color: #f7f2f2;
}

.App:before {
  content: '';
  background: url(./images/weather.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1

}

.App .container {
  max-width: 700px;
  height: 500px;
  margin: auto;
  position: relative;
  top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.App .top {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  
}
.description{
position: relative;
text-align: right;
margin-top: 10%;
padding: 2rem;
transform: rotate(270deg);
}
.App .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem; 
  border-radius: 12px;
  background-color: rgba(128, 124, 124, 0.493);
  margin-bottom: 200px;
}

.bold {
  font-weight: 700;
}
.modal-overlay {
  position: fixed; /* Fix the modal in the viewport */
  top: 50%;
  left: 30%;
  width: 70%;
  height: 20%;
  max-width: 550px;
  border-radius: 8px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(224, 28, 28, 0.5); /* Semi-transparent black background */
  z-index: 9999; /* Ensure the modal is on top of other elements */
}

/* Styling the modal itself */
.modal-content {
  position: relative;
  width: 100%; /* Set a specific width */
  max-width: 500px; /* Set a maximum width */
  justify-content: center;
  align-items: center;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(143, 101, 101, 0.3); /* Add a shadow */
  padding: 20px; /* Add some padding */
  background-color: rgb(12, 189, 65); /* Set background color */
  color: #df1818; /* Set text color */
}
.settings{
margin-left: 50px;
background: transparent; 
}
.search {
  display: flex;
  align-items: center;
  margin-top: 10px;

}

.search-bar {
  flex: 1; /* Take up remaining space */
    position: relative;
 
}
.search-bar input {
  padding-left: 0px; /* Adjust left padding to accommodate the icon */
}


.settings img {
  cursor: pointer;
  width: 30px; /* Adjust width and height as needed */
  height: 30px;
  filter: brightness(0) invert(1);

}
.search img{
    width: 24px; /* Adjust width and height as needed */
  height: 27px;
  cursor: pointer;
  padding-top: 0px;
  margin-left: 0rem;
  filter: brightness(2) invert(1); 
  position: relative; /* Set position to absolute */
  top: 1.3rem; /* Align vertically */
  left: 3rem; /* Adjust left position as needed */
  transform: translateY(-50%); 
  
}
.dashboard{
  display:inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

}
