@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Antonio', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.4);
  color: rgb(229, 233, 233);
  overflow: hidden;
  position: relative;
}

.App input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: none;
  background: rgba(128, 124, 124, 0.493);
  color: #f7f2f2;
  padding-left: 40px; /* Make space for the icon */
}

.App input::placeholder {
  text-align: center;
  color: #f7f2f2;
}

.App:before {
  content: '';
  background: url(./images/weather.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.App .container {
  max-width: 700px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .top {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.App .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 105%;
  padding: 0.9rem;
  border-radius: 12px;
  background-color: rgba(128, 124, 124, 0.493);
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 30%;
  width: 70%;
  height: 20%;
  max-width: 550px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 28, 28, 0.5);
  z-index: 9999;
}

.modal-content {
  position: relative;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(143, 101, 101, 0.3);
  padding: 20px;
  background-color: rgb(12, 189, 65);
  color: #df1818;
}

.settings {
  margin-left: 25px;
  background: transparent;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  flex-grow: 1;
  padding-left: 45px; /* Ensure space for the search icon */
}


.settings img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.search-icon {
  width: 30px;
  height: 35px;
  position: absolute;
  left: 20px;
  padding-bottom: 0px;
  padding-top: 6px;
  color: #ffffff;
  filter: brightness(10) invert(1);
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.app-logo {
  width: auto;
  height: 5em;
  filter: brightness(1);
}

.weekly-forecast {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0px;
}

.day {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.day:hover, .day.selected {
  background-color: rgba(255, 255, 255, 0.4);
}

.location-name {
  text-align: center;
  margin-bottom: 0.5rem;
}

.location-name h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.temp {
  text-align: center;
  margin-bottom: 1rem;
}

.temp h1 {
  font-size: 4.5rem;
  font-weight: 400;
  color: #ffffff;
}

.description-container {
  display: flex;
  align-items: center;
}

.description {
  flex: 1;
  text-align: center;
  justify-content: space-evenly;
}

.weather-icon {
  margin-left: 30px;
  width: 50px;
  height: 35px;
}

.microphone-icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  padding-top: 10px;
}

.voice-search {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.recording-indicator {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .search-bar input {
    padding-left: 40px; /* Reduce padding for smaller screens */
  }
  .voice-search {
    margin-left: 1px; /* Adjust margin for smaller screens */
  }
}
@media (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute items evenly */
    padding: 10px; /* Optional: Add padding for better spacing */
  }

  .dashboard {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1px;
  }

  .search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .container {
    flex: 3; /* More space for the main content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .weekly-forecast {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }
}
